<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <!-- diesen Include nicht entfernen -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <!--
    Anpassungen:
    -->

    <logger name="com.filsum">
        <level value="DEBUG"/>
    </logger>


</configuration>