.navbar-default {
    background-image: -webkit-linear-gradient(top, #FFF 0%, #FFF 100%);
    background-image: -o-linear-gradient(top, #FFF 0%, #FFF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF));
    background-image: linear-gradient(to bottom, #FFF 0%, #FFF 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-brand {
    color: #1D1B1B;
    background-color: transparent;
}
.navbar-default .navbar-text {
    color: #1D1B1B;
}
.navbar-default .navbar-nav > li > a {
    color: #1D1B1B;
}
.main{
    background: url(../images/laeufer_hintergrund.jpg) no-repeat  center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 850px;
}
.panel{
    opacity: 0.9;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
.boxline{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
    display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99;
}
.tablesorter {
    width: auto;
}
.tablesorter .tablesorter-filter {
    width: 100%;
}
.jumbotron {
    background-color: rgba(238, 238, 238, 0.9);
}
.navbar-nav {
    margin-top: 4px;
}